.categories {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    background-color: #e0f7fa; /* Fondo claro azul */
    border-radius: 10px; /* Bordes redondeados para el contenedor */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.category {
    margin: 0.5rem;
    padding: 0.5rem 1rem; 
    border-radius: 25px; 
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;     
    background-color: #2196f3; /* Azul de fondo para las categorías */
    color: white; /* Color de texto blanco */
    font-weight: bold; /* Negrita para mejorar la visibilidad */
}

.category p {
    margin: 0; /* Sin margen para centrar el texto */
}

.category:hover {
    background-color: #1976d2; /* Azul más oscuro al pasar el mouse */
    transform: scale(1.1); /* Aumentar el tamaño al pasar el mouse */
}

.category.active {
    background-color: #00796b; /* Color verde para la categoría activa */
    color: #111111; /* Color de texto oscuro */
    font-weight: bold; /* Negrita para resaltar la categoría activa */
    border-radius: 25px;
}
