.items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem; /* Agrega un poco de espacio alrededor */
}

.card {
  background-color: #e0f7fa; /* Fondo azul claro */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Sombra más suave */
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-family: Arial, sans-serif;
  height: 25rem; /* Mayor altura para las cards */
  width: 18rem; /* Ajuste de ancho */
  border-radius: 10px; /* Bordes redondeados */
  overflow: hidden; /* Evita que el contenido se desborde */
  transition: transform 0.2s; /* Suave efecto al pasar el mouse */
}

.card:hover {
  transform: scale(1.05); /* Aumentar el tamaño al pasar el mouse */
}

.card img {
  object-fit: cover;
  height: 15rem; /* Altura fija para la imagen */
  width: 100%;
}

.price {
  color: #ffffff; /* Color verde azulado para el precio */
  text-shadow: black 5px 5px 10px;
  font-size: 30px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #3fb2ff; /* Color de fondo azul oscuro */
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 5px; /* Bordes redondeados para el botón */
  transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
}

.card button:hover {
  background-color: #004d40; /* Color más oscuro al pasar el mouse */
  transform: scale(1.05); /* Aumentar el tamaño al pasar el mouse */
}
