footer {
    background-color: #111111;
    border-radius: .3rem;
    padding: 1rem;
    margin: .7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.footer-social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    a {
        color: #ffffff;
        font-size: 30px;
        margin: 0 10px;
        transition: color 0.3s;

        &:hover {
            color: #51FF9C; /* Color que se utilizará en hover */
        }
    }
}

.footer-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    a {
        color: #ffffff;
        margin: 0 15px;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
            color: #51FF9C; /* Color que se utilizará en hover */
        }
    }
}

.footer-disclaimer {
    font-size: 12px;
    text-align: center;
    max-width: 600px;
}
