/* Estilos para el contenedor de filtros */
.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1f618d; /* Color de fondo */
    margin: 0.7rem; /* Margen */
    border-radius: 0.3rem; /* Bordes redondeados */
}

/* Estilos para los inputs dentro del contenedor de filtros */
.filters input {
    margin: 10px; /* Espaciado entre inputs */
    border-radius: 25px; /* Bordes redondeados */
    border: 1px solid rgba(255, 255, 255, 0); /* Borde transparente */
    padding-left: 10px; /* Espacio interno a la izquierda */
}

/* Estilos para el placeholder de los inputs */
.filters input::placeholder {
    color: rgb(0, 0, 0); /* Color del texto del placeholder */
    opacity: 0.9; /* Opacidad */
}

/* Estilos para los botones dentro del contenedor de filtros */
.filters button {
    margin: auto 0; /* Espaciado automático vertical */
    margin-right: 10px; /* Espaciado a la derecha */
    background-color: #3fb2ff; /* Color de fondo del botón */
    border-radius: 25px; /* Bordes redondeados */
    border: 1px solid rgba(0, 0, 0, 0); /* Borde transparente */
    padding-left: 10px; /* Espacio interno a la izquierda */
    padding-right: 10px; /* Espacio interno a la derecha */
}
